.Follower_Request_container {
  max-width: 1000px;
  margin: 0px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Follower_Result_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  scrollbar-width: none;
  justify-content: space-around;
}
